@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

*, *::after, *::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --color-white: #f3f3f3;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --color-green: #37af65;
}

html {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: var(--color-white);
}

body::before {
    content: "";
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--color-darkblue);
    background-image: linear-gradient(115deg,rgba(58, 58, 158, 0.8),rgba(136, 136, 206, 0.7)), url(images/survey-form-background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    width: 650px;
}

header {
    text-align: center;
}

#survey-form {
    padding: 40px;
    border-radius: 5px;
    background-color: var(--color-darkblue-alpha);
}

input {
    width: 100%;
    height: 35px;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

input::placeholder {
    font-size: 15px;
}

label {
    font-size: 20px;
}